@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body{
font-family: 'Ubuntu', verdana;
}
.jumbotron p {
margin-bottom: 15px;
font-size: 21px;
font-weight: 200;
text-align: justify;
}
.desc{
  float:left;
  padding:5px;
}
.head-sub{
font-size: 14px !important;
color: #337ab7;
font-style: italic;
margin-left: 200px;
}
.desc{
position: absolute;
top: 250px;
width: 415px;
text-align: justify;
right: 332px;
font-size: 14px;
line-height: 27.5px;
line-height: 27.5px;
}