@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body{
font-family: 'Ubuntu', verdana;
}
.jumbotron p {
margin-bottom: 15px;
font-size: 21px;
font-weight: 200;
text-align: justify;
}
.desc{
  float:left;
  padding:5px;
}
.head-sub{
font-size: 14px;
color: #337ab7;
font-style: italic;
margin-left: 190px;
}