@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body{
font-family: 'Ubuntu', verdana;
}
.jumbotron p {
margin-bottom: 15px;
font-size: 21px;
font-weight: 200; 
}
.desc{
  float:left;
  padding:5px;
}
.head-sub{
font-size: 14px !important;
color: #337ab7; 
margin-left: 200px;
}
.desc{
position: absolute;
top: 250px;
width: 415px;
text-align: justify !important;
right: 332px;
font-size: 14px !important;; 
line-height: 27.5px;
}
.col-lg-6{
	width : 100% !important;
	text-align: justify;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
}
.profile-summary-hd, .profile-objective-hd{
	font-size: 14px;
	font-weight: bold;
}
.profile-summary-hd-txt, .profile-objective-hd-txt{
	font-size: 13px;
	line-height: 21.5px;
}
.cont-p{
color: #337ab7;
}